.coinsection {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.coin {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 18px;
}

.breadcrumb-coins {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.breadcrumb-coins:hover {
  color: rgb(49, 49, 49);
  text-decoration: none;
}
.coin .coin-title {
  margin-left: 5px;
  text-align: center;
  font-size: 42px;
}
.symbol {
  font-size: 20px;
  background-color: white;
  border: 1px solid rgb(78, 78, 78);
  font-weight: bold;
  margin-left: 5px;
  padding: 4px;
  border-radius: 6px;
}
.symbol b {
  padding-left: 20px;
  color: rgb(19, 19, 19);
}
.price {
  font-size: 32px;
}
