.coinsection {
  width: 1440px;
  max-width: 97%;
  margin: 0 auto;
  margin-top: 40px;
}
.coin {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.coin p {
  font-size: 18px;
}
.coin .coin-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.coin-heading .coin-text {
  margin-left: 5px;
  text-align: center;
  font-size: 42px;
}
.symbol {
  background-color: white;
  font-weight: 400;
  margin-left: 5px;
  padding: 6px;
  border-radius: 6px;
}
.symbol b {
  padding-left: 20px;
  color: rgb(19, 19, 19);
}
.price {
  font-size: 32px;
}
