.home {
  text-align: center;
  background-color: rgb(171, 187, 219);
}
.content {
  /* table should be centered */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
