.home {
  text-align: center;
  background-color: #642eec;
}
.content {
  /* table should be centered */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
}
