.tracker {
  color: var(--text-color);
  width: 1440px;
  max-width: 97%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
}
.tracker h1 {
  font-weight: 400;
  font-size: 30px;
}
.tracker-heading {
  margin: 0 auto;
  text-align: center;
  max-width: 97%;
  width: 370px;
}
.tracker-paragraph {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 370px;
  max-width: 97%;
}
.bottom-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.portfolio {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
.portfolio h2 {
  font-weight: 400;
  text-align: center;
}
.portfolio-box {
  margin: 0 auto;
  width: 650px;
  max-width: 100%;
  background-color: var(--background-color-secondary);
  margin-top: 15px;
  border-radius: 8px;
  padding: 10px;
  max-width: 100%;
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}
.pie-div {
  max-width: 100%;
  margin: 0 auto;
  width: 400px;
}
@media (max-width: 768px) {
  .portfolio-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .portfolio-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .portfolio-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .pie-div {
    max-width: 100%;
    margin: 0 auto;
    width: 400px;
    margin-top: 15px;
  }
}
