.breadcrumb {
  margin: 0;
  padding: 0;
  text-decoration: none;
  max-width: 400px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.breadcrumb p {
  color: var(--text-color);
  height: 20px;
}
.breadcrumb svg {
  height: 20px;
  fill: none;
}
.breadcrumb svg path {
  stroke: var(--text-color);
  stroke-width: 2px;
}
.breadcrumb-home {
  text-decoration: none;
}
.breadcrumb-home a {
  text-decoration: none;
}
.breadcrumb-home:hover {
  color: var(--text-color-hover);
  text-decoration: none;
}
