.coinlist {
  width: 950px;
  max-width: 99%;
  height: auto;
  text-align: left;
  margin: 0 auto;
}
.coinlist a {
  color: black;
}
.coinlist a:hover {
  color: #555555;
}
.pagination {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  /* table should be centered */
}
.pagination ul {
  background-color: #ffffff;
  border-radius: 8px;
}
