.coinlist {
  width: 950px;
  max-width: 99%;
  height: auto;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 40px;
}
.coinlist a {
  color: black;
}
.coinlist a:hover {
  color: #555555;
}
