.market-card {
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  height: 130px;
  width: 100%;
  min-width: 170px;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

#trending {
  min-width: auto;
  width: fit-content;
}
#trending .market-card-value {
  width: max-content;
}
#trending a {
  text-decoration: none;
}
.market-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.market-card-text {
  font-size: 24px;
  display: flex;
  align-items: center;
  width: 100%;
}
.market-card-change {
  font-size: 18px;
}
.market-card-trending {
  padding: 0;
  margin: 0;
  font-size: 18px;
  list-style: none;
}
.market-card-value {
  display: flex;
  align-items: center;
  color: var(--text-color);
}
.market-card-value:hover {
  cursor: pointer;
  color: var(--text-color-hover);
}
.market-card-value img {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}
