.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: var(--navbar-color);
  text-align: center;
}
.nav-logo {
  width: auto;
  height: auto;
  display: flex;
}
.nav-logo h1 a {
  font-weight: 400;
  font-size: 44px;
  margin: auto;
  color: var(--navbar-text-color);
}
.nav-logo h1 a:hover {
  color: var(--navbar-text-color-hover);
}
.nav-logo h1 a:active {
  color: var(--navbar-text-color-hover);
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 1440px;
  max-width: 97%;
  height: 90px;
}
.nav-links {
  height: 90px;
  width: auto;
  display: flex;
  align-items: center;
}
.mobile-nav-links {
  display: none;
}
.nav-links .links {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-links .link {
  height: 60px;
  background-color: var(--navbar-button-color);
  color: var(--navbar-text-color);
  margin-left: 20px;
  text-align: center;
  padding: 20px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 8px;
  /* centering text */
  display: flex;
  align-items: center;
  transition: 0.25s;
  transition-property: background-color;
}
.nav-links .link:hover {
  background-color: var(--navbar-button-color-hover);
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 960px) {
  .nav-wrapper {
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .mobile-nav-links {
    position: relative;
    z-index: 2;
    border-top: 1px solid #808080;
    background-color: var(--navbar-color);
  }
  .mobile-nav-links li {
    display: flex;
    text-decoration: none;
    transition: 0.25s;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #808080;
    height: 80px;
    font-size: 24px;
    color: var(--navbar-text-color);
  }
  .mobile-nav-links li:hover {
    background-color: #dfdfdf;
  }
  .mobile-nav-links a {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  .hamburger {
    display: block;
    height: 30px;
    width: 30px;
  }
  .hamburger path {
    fill: var(--navbar-text-color);
    stroke: var(--navbar-text-color);
  }
}
