.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #354055;
  border-bottom: 1px solid #354055;
  text-align: center;
}
.nav-logo {
  width: auto;
  height: auto;
  display: flex;
}
.nav-logo h1 a {
  font-size: 44px;
  margin: auto;
  color: #ffffff;
}
.nav-logo h1 a:hover {
  color: #dddde2;
}
.nav-logo h1 a:active {
  color: #dddde2;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 1200px;
  max-width: 97%;
  height: 90px;
}
.nav-links {
  height: 90px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-links {
  display: none;
}
.nav-links ul {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-links li a {
  height: 30px;
  background-color: #ffffff;
  display: block;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  text-align: center;
  padding: 20px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 8px;
  /* centering text */
  display: flex;
  align-items: center;
}
.nav-links li a:hover {
  background-color: #dddde2;
}
.hamburger {
  display: none;
}
/*  TODO: Need to add hamburger to navbar */
@media only screen and (max-width: 960px) {
  .header {
    border-bottom: 1px solid #354055;
  }
  .nav-wrapper {
    width: 100%;
  }
  .nav-links {
    display: none;
  }
  .mobile-nav-links {
    position: relative;
    z-index: 2;
    background-color: #354055;
  }
  .mobile-nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 40px;
  }
  .mobile-nav-links li a {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .hamburger {
    display: block;
  }
}
