.results-container {
  background-color: #ffffff;
  margin-top: 2px;
  width: 240px;
  height: auto;
  position: absolute;
  max-height: 400px;
  overflow-y: auto; /* only triggers scrollbar when needed */
  border-radius: 8px;
}
.results-container ul {
  list-style-type: none;
  padding: 0;
}
.coin-search-result {
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
  min-height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.coin-search-result img {
  width: 32px;
  height: 32px;
}
.coin-search-result p {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
