@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300&family=Spline+Sans:wght@300&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(95, 87, 116);
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
